.login-component {
    img {
        display: block;
        margin: 0 auto;        
    }
    h1 {
        text-align: center;
        color: $fresh-green-dark;
    }
    .form-group {
        display: block;
        padding: 10px 0;
        label {
            display: block;
            margin-bottom: 5px;
        }
        input {
            width: 100%;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid gray;
            line-height: 1.5;
            &:focus {
                border-color: $fresh-green-medium;
                outline: none;
            }
        }
        button {
            background-color: $fresh-green-medium;
            padding: 10px 25px;
            color: #fff;
            border: 1px solid $fresh-green-medium;
            width: 100%;
            font-weight: bold;
            transition: background-color 0.5s, border-color 0.5s;
            &:hover {
                background-color: $fresh-green-dark;
                border-color: $fresh-green-dark;
                transition: background-color 0.5s, border-color 0.5s;
            }
        }        
    }
}