.recipe-component {
    * {
        font-size: 0.9rem;
    }

    img {
        max-width: 100%;
        height: auto;
    }
    h2 {
        color: black;
        font-size: 1.1rem;
        margin-bottom: 4px;
    }
    .fa-heart-o, .fa-heart {
        float: right;
        color: $fresh-green-medium;
        font-size: 1.2rem;
        cursor: pointer;
    }
    p {
        font-size: 0.9rem;
        @media screen and (min-width: 425px) {
            font-size: 1rem;
        }
    }
    .recipe-headline {
        color: $medium-gray;
        font-style: italic;        
        margin-bottom: 7px;
        line-height: 1.5;
    }
    .recipe-creator {
        line-height: 1.5;
    }
    .recipe-difficulty {
        margin-top: 10px;
    }
    hr {
        border: none;
        height: 1px;
        color: $light-gray;
        background-color: $light-gray;
    }

    .p-see-more {
        margin-top: 15px;
        font-size: 1.0rem;
        color: $fresh-green-medium;
        cursor: pointer;
    }

    .col-recipe-divider {
        padding: 0 12px;
    }

    .btn-favorite {
        width: 100%;
        margin: 0 auto;
        display: block;
        background-color: $fresh-green-medium;
        border: 1px solid $fresh-green-medium;
        padding: 10px;
        color: #fff;
        font-size: 1.1rem;
        transition: background-color 0.5s;
        &:hover {
            background-color: $fresh-green-dark;
            transition: background-color 0.5s;
        }
    }
    
    .p-recipe-description {
        line-height: 1.5;
        text-align: justify;
    }

    .col-current-rating, .col-give-your-rating {
        p {
            font-size: 1rem;
            &:nth-child(1) {
                margin-bottom: 7px;
            }
        }
        i {
            font-size: 1.1rem;
            margin: 5px;
            &:nth-child(1) {
                margin-left: 0;
            }
        }
    }

    ul {
        list-style: square;
        li {
            padding: 4px 0;
            margin-left: 12px;
            line-height: 1.3;
        }
    }
    
    table {
        width: 100%;
        td {
            padding: 5px;
            border: 1px solid black;
            text-align: center;
        }
    }

    .row-recipe-name-favorite {
        [class*="col-"] {
            padding: 0;
        }
    }
}